In [20]:
import pandas as pd
df = pd.read_csv('titanic.csv')

In [21]:
dict(df['Embarked'].value_counts())['C']
sum(dict(df['Embarked'].value_counts()).values())
len(df[df['Embarked']=='C'])/len(df['Embarked'].dropna())

0.1889763779527559

In [22]:
len(df[(df['Sex'] == 'female') & (df['Embarked'] == 'C')])
73/314

0.23248407643312102